// Colors

$crusta: #FA793C;
$alto:#D9D9D9;
$codGrey: #1E1E1E;
$haiti: #0a0d29;
$alabaster: #f7f7f7;
$linkWater: #fbfcfe;

// Typography

$logo-typography: 'Pridi', serif;
$menu-typography: 'ABeeZee', sans-serif;
$main-typography: 'Kanit', sans-serif;
