$font-default: 'Open Sans', Arial, Helvetica, sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-shamrock: #37c3b3;
$color-shamrockt:rgba(44, 156, 143, 0.432);
$color-turquosie-blue: #55ECDB;
$color-confetti: #ecef96;
$color-gray: #868686;
$color-grayt:rgba(0, 0, 0, 0.149);
$color-dovegray: #6E6E6E;

$color-tundora: #4A4A4A;
$color-azure-radiance: #1877F2;
$color-brilliant-rose: #F35BA5;
$color-dodger-blue: #1D9BF0;
$color-red: #FF0000;

$color-none:rgba(0, 0, 0, 0);
$color-header: rgba(255, 255, 255, .78);
$color-box-shadow: rgba(100, 100, 111, 0.227);
$color-confetti-t: #e5ea594c;