:root {
    /*Paleta de colores*/

    ---primario: RebeccaPurple;
    ---PrimarioOscuro: Dimgray;
    ---Secundario: DarkSlateblue;
    ---SecundarioOscuro: rgba(41, 83, 160, 0.5);
    ---blanco: #fff;
    ---negro: #000;
    ---definitivo: linear-gradient(35deg, #ff7fff 0, #c66dff 16.67%, #8b59ff 33.33%, #4d42d4 50%, #002ca6 66.67%, #00197c 83.33%, #000056 100%);

    /*fuente de la pagina*/

    ---fuentePrincipal: 'Staatliches', cursive;}