@use "variables.scss" as variables;
@use "mixin.scss" as m;
html, body {
 @include m.reset-html-body;
}

* {
  @include m.reset-boxsizing(inherit);
}
body {
  font-family: Arial;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  color: variables.$color-text;
  background-color: variables.$color-secundary;
  padding: 0 40px;
  line-height: 1.5;
}
/* Navegador con Buscador */
.navegador nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    /* border: 1px solid Gainsboro; */
    margin-bottom: 10px;
    text-align: center;
  }
  
.navegador ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

button {
  background-color: WhiteSmoke;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

input[type="search"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid Gainsboro;
    width: 400px;
    background: WhiteSmoke;
  }


@media screen and (min-width: 800px) {

  /* Sección para flexbox y grid */
  .container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* crea 3 columnas del mismo ancho */
    grid-gap: 40px; /* espacio entre las cajas */
    margin: 20px auto;
  }
  .container-grid img {
    @include m.dimensiones  (200px, 200px);
    border-radius: 4px;
  }
 
  .container-grid > div { /* selecciona todas las cajas dentro de la clase container-grid */
    background-color: variables.$color-secundary; /* color de fondo de las cajas */
    @include m.cajas;
  }
  
  .container-img1,
  .container-img2,
  .container-img3,
  .container-img4 {
    @include m.dimensiones(100%, auto);
    max-width: 400px; /* Establece un ancho máximo de 400px para las cajas */
    margin: 0 auto; /* Centra las cajas horizontalmente */
    text-align: center;
  }
  .container-img4 {
    grid-column: 1 / span 3;
  }
}