//VARIABLES SASS
$h1-color: rgb(77, 61, 38);
$text-body-color: $h1-color;
$wrap_h1-color: rgb(255, 200, 50);
$bg_color-card: rgb(230, 214, 173);
$bg-color-nav: rgb(230, 214, 173);
$bg-color-input: rgb(255, 249, 249);
$a-visited-color: lightsteelblue;
$grid-template-columns: auto auto auto ;