//VARIABLES SASS
$h1-color: #5270a5;
$h2-color: #1e3e75;
$text-body-color: #112341;
$wrap_h1-color: rgb(255, 200, 50);
$bg_color-card: rgb(230, 214, 173);
$bg-color-nav: rgb(230, 214, 173);
$bg-color-input: rgb(255, 249, 249);
$a-visited-color: lightsteelblue;
$grid-template-columns: auto auto auto ;