@import './variables.scss';

@media screen and (min-width: 1024px) {

    .containerPost {
        display: flex;
        width: 100%;

        .cardPost:nth-child(5n) {
            display: grid;
            width: 100%;
            height: 300px;
            grid-column: 1 / span 4;
            background-color: $Lapis-Lazuli !important;

            & > .infoCard {
                display: flex;
                flex-direction: row-reverse;
                height: 430px;

                & > .first {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    height: 100%;

                    & > .tittlePost {
                        display: flex;
                        color: black;
                        font-size: xx-large;
                        justify-content: center;
                    }

                    & > .imgPostCont {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        &>.imgPost {
                            width: 60%;
                            object-fit: fill;

                        }
                    }
                }

                & > .secondInfo {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .descPost {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        padding: 2rem;

                        .description{
                            color: white;
                        }
                    }

                    .datePostContent {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        font-style: italic;
                        margin: 2rem;
                        color: white;
                    }
                }
            }
        }
    }
}