@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

// COLORS
$color-athens-gray: #f5f7f9;
$color-cutty-sark: #566b78;
$color-navy-blue: #12006f;
$color-bahama-blue: #056b90;
$color-amaranth: #e81c4f;
$color-mint-tulip: #bfe7f5;
// FONT
$font-primary: "Roboto", Arial, Helvetica, sans-serif;
$font-secondary: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
// BREACKPOINT QUERY
$breackpoint-middle: 576px;
$breackpoint-large: 992px;