@use "variables" as v;


@media screen and (min-width:992px) {
    .texto{
        margin: 0 200px;
    }

    .container{display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px auto auto;
    gap: 5px;}

    .card{
        margin: 20px;

    }
}