
/* COLORS */
$cloudBurst:#1e264a;
$sanMarino:#4e5aa8;
$iron:#D1D3D4;
$dustyGray:#969696;
$cornHarvest:#86860F;
$madras:#3A3A04;
$black:#000;

@mixin position{
    position: absolute;
    top: 4rem;
    left: 2rem;
}  