$catskillWhite: #e2e8f0;
$oxfordBlue: #374151;
$ebony: #111827;

$blueChill: #0d9488;
$periwinkleGray : #c4d2e4;
$alabaster: #fcfcfc;
$silver: #c4c4c4;
$tundora: #4e4e4e;
$breakerBay: #54a3a3;
$teal: #008080;