@use "../variables.scss";

.content {
    padding: 1rem 2rem 3.5rem 2rem;
    background-color: variables.$athensGray;

    .container-main {
        padding-top: 10rem;
        margin: 0 auto;

        // Menu post
        .navbar-post {
            border-bottom: 1px solid #626262;
            margin-bottom: 3rem;

            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 3rem;
                padding-bottom: 1rem;
                font-size: 1.6rem;

                a {
                    color: #333;
                    font-weight: 600;
                }
            }
        }

        /* Conteiner post */
        h2 {
            padding: 2rem 0 4rem 0;
            text-align: center;
        }

        .container-post {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .post1 {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border: 0 solid transparent;
                border-radius: 5px;
                box-shadow: 11px 22px 21px -5px rgba(0, 0, 0, 0.1);
                max-width: 340px;

                .post-principal {
                    padding: 1rem 1.2rem;

                    .post-image {
                        margin-bottom: 1rem;

                        img {
                            border-radius: 5px 5px 0 0;
                        }
                    }

                    .post-readtime {
                        display: flex;
                        justify-content: space-between;
                        padding: 1rem;
                        background-color: #0db769;
                        border-radius: 3px;
                    }

                    .post-info {
                        h3 {
                            padding: 1.5rem 0;
                            font-size: 2rem;
                            font-weight: 600;
                            text-align: left;
                        }

                        p {
                            line-height: 1.5;
                            font-size: 1.6rem;
                            color: #626262;
                        }
                    }

                    .post-button {
                        margin: 1.5rem 0;
                        text-align: center;

                        button {
                            padding: 0.5rem 0;
                            font-weight: 700;
                            border-radius: 3px;
                            border: 1px solid;
                            background-color: #0db769;
                            width: 90%;
                        }
                    }
                }
            }

            .post {
                display: none;
            }
        }

        @media screen and (max-width: 760px) {
            .post1 {
                max-width: 100%;
            }
        }
    }
}

.suscribete {
    display: flex;
    justify-content: center;
    background-color: #dbf7ea;

    .container-subscribe {
        width: 80%;
        top: 4rem;
        height: 30rem;
        display: grid;
        place-items: center;

        .container-subscribe-info {
            display: flex;
            flex-direction: column;
            text-align: center;

            h2 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.2rem;
                margin: 2rem 0;
            }

            span {
                font-size: 1rem;
            }

            .form {
                display: flex;
                justify-content: center;
            }
        }
    }
}