//variables.scss

$ceriseRed: #DD2476;
$outrageousOrange: #FF512F;
$mineShaft: #333333;
$white: #FFFFFF;
$twilightBlue: #F0FFFF;
$nobel: #B5B0B0;
$alto: #DCDCDC;
$wildSand: #F5F5F5;
$softPeach: #FBF8F8;
$amaranth:#E41A4A;
$towerGray: #B0BFC7;