$hint-of-green: #f6fff8;
$mine-shaft: #353535;
$maroon: #780000;
$thunderbird: #c1121f;
$prussian-blue: #003049;
$green-vogue: #023047;
$aqua-island: #a4d2db;
$san-juan: #284b63;
$black-squeeze: #dff3f3;
$persian-green: #00989b;
$orient: #005e78;
$regent-gray: #959da533;
$cruise: #aaebcd;

$min-tablet-breakpoint: 500px;
$min-desktop-breakpoint: 768px;
