:root {
    --color-white: #FFF;
    --color-back-pearl-50: #E4EBEE;
    --color-back-pearl-400: #7799AC;
    --color-back-pearl-700: #3C5562;
    --color-back-pearl-900: #1B262C;

    --color-aquarius-100: #C5EAF0;
    --color-aquarius-900: #0D2E32;

    --containter-max-width: 1180px;

}