@use "variables.scss" as m;

@mixin btn-style {
    background: m.$bondyBlue;
    color: #FFFFFF;
    border: 1px solid m.$DonkeyBrown;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    &:hover {
        background: lighten(m.$bondyBlue, 10%);
    }

    &:active {
        background: darken(m.$bondyBlue, 5%);
        box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    }
}

@mixin h1-font-style {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 82%;
    text-align: center;
    letter-spacing: -2.17241px;
    color: #222;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 596px;
    margin: 0;
    background-color: m.$background-color;

    img {
        border-radius: 175px;
        position: relative;
    }

    h1 {
        @include h1-font-style;
        position: relative;
        top: 38px;
        padding: 8px;
    }

    h2 {
        font-family: 'PT Sans Narrow';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: m.$DonkeyBrown;
        position: relative;
        top: 24px;
    }

    button {
        width: 225px;
        height: 60px;
        position: relative;
        top: 78px;
        font-family: 'PT Sans Narrow';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

        @include btn-style;
    }
}

.desktop-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    flex-direction: column;
    padding: 80px 20px;
    gap: 60px;
    margin: 42px 0 42px 0;

    h1 {
        @include h1-font-style;
        text-align: start;
        padding-bottom: 10px;
        font-size: 36px;
        letter-spacing: normal;
        
    }

    h2 {
        font-family: 'PT Sans Narrow';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: m.$DonkeyBrown;
        padding: 36px 0 8px 0;
    }
    
}

.skills i {
    font-size: 30px;
}
 
p,
li {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222;
    list-style-type: none;
}

.rectangle {
    width: 54px;
    height: 10px;
    background: m.$bondyBlue;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 425px;
    background-color: m.$background-color;

    h1 {
        @include h1-font-style;
        padding-bottom: 40px;
    }
}

.bx {
    color: #0699A6;
}

.contact_icons {
    display: flex;
    justify-content: space-evenly;
}

/* Formulario de contacto */
.arrow {
    position: relative;
    top: 40px;
    left: 40px;
}

.contact {
    max-width: 800px;
    margin: 100px auto;
    padding: 0 40px;

    h1 {
        @include h1-font-style;
        text-align: start;
        padding-bottom: 20px;
    }
}

form {
    background-color: m.$background-color;
    padding: 40px;
    border-radius: 6px;
    accent-color: m.$bondyBlue;
}

.form-group {
    margin: 20px 0;
}

label,
input:not([type="checkbox"]) {
    width: 100%;
}

label,
input {
    vertical-align: middle;
}

label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
}

textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background: #f8f7f1;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #1e1f24;
}

button {
    padding: 16px 30px;
    cursor: pointer;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;

    @include btn-style;
}

input:focus-visible,
textarea:focus-visible {
    border: 1px solid lighten(m.$bondyBlue, 5%);
    outline: 2px solid m.$bondyBlue;
}