$card: #ffa17f;
$hover: linear-gradient(to right, #00223e, #ffa17f);
$font: #3f79e6;
$font-author: #5a89e2;
$transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
