@use "variables";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: variables.$mystic;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  background: variables.$ebonyClay;
  height: 10px;
  color: variables.$mystic;
}

h1 {
  display: flex;
  flex-direction: column-reverse;
  background: variables.$ebonyClay;
  color: variables.$mystic;
  font-weight: 600;
}

.menu {
  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  li a {
    text-decoration: none;
    color: variables.$mystic;
  }

  display: flex;
  align-items: end;

  ul {
    margin-right: auto;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.posts {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.post {
  background-color: variables.$baliHai;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid variables.$base-color;
  padding: 10px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.continue-reading {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: variables.$ebonyClay;
  color: variables.$base-color;
  text-decoration: underline;
  gap: 15px;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: variables.$ebonyClay;
  color: variables.$base-color;
  padding: 5px 10px;
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-content {
  flex: 1;
}

.card-create time {
  font-size: 12px;
  color: variables.$mystic;
  
}

.card-create {
  text-align: right;
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  background-color: variables.$ebonyClay;
  color: variables.$mystic;
  padding: 20px;
  margin-top: auto;
}
