@use "variables.scss" as variables;

@media screen and (min-width: variables.$tablet-media-query) {
    .hobbies {
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

}

@media screen and (min-width: variables.$desktop-media-query) {
    .hobbies {
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

}
 