$font-normal: 'Montserrat';
$font-art: 'Poppins';
$font-nerd: 'Roboto Mono';

//COLOR VAR
$blueZodiac: #0A192F;
$saharaSand: #f5f187;
$saharaSandT: #f5f187ec;
$black: #000;
$white: #fff;
$whiteT: #ffffffd8;
$whiteT2: rgba(255, 255, 255, 0.671);
$lynch: #687c9f;
$lavenderGray: #bfbfdc;
$cornflowerBlue:#7480f0;
$geraldine: #f78787;
$persimmon: #ff5656;
$skyBlue:#73d7e9;
$blackPearlT: #01040883;
$mineShaf: #1F1F1F;
$ripeLemon: #EFD81D;
$texas: #faef9a;
$Carnation: #f76d4b;
$RoseBud: #f7ac99;
$WildBlueYonder: #787CB4;
$perfume: #bec1f7;
$astral: #3673A5;
$jordyBlue: #77baf1;
$AlizarinCrimson: #ED2025;
$Bittersweet: #ff7073;
$CopperRose: #916868;
$Sundown: #ffb9b9;
$BahamaBlue: #025e94;
$DodgerBlue: #39b6ff;
$ForestGreen: #279e27;
$PastelGreen: #7CEB7C;
$Heliotrope: #9D56F7;
$Mauve: #bb87ff;
$ElectricViolet: #880AFB;





