$colorCodGray: #1a1a1a;
$colorConcrete: #f2f2f2;
$colorGeyser: #c9d6dc;
$colorMiniShaft: #292929;
$colorCruise: #c5ebf0;
$colorDustyGray: #9b9b9b;

$blogPadding: 20px;
$defaultGap: 16px;
$largeBorderRadius: 24px;
$midBorderRadius: 12px;
$smallBorderRadius: 5px;
$defaultBoxShadow: 3px 5px 15px rgba(0, 0, 0, 0.5);

$font-size-titles: 20px;
$font-size-subtitles: 14px;