:root{
    --primary-100:#6B5B95;
    --primary-200:#4B4068;
    --primary-300:#E1DDEB;
    --accent-100:#FF7F11;
    --accent-200:#BE5800;
    --text-100:#333333;
    --text-200:#424242;
    --bg-100:#E6E6FA;
    --bg-200:#D2D2F6;
    --bg-300:#FFFFFF;
      
}