@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    input[type="radio"] {
        display: flexbox;
        margin: 12px;
    }

    input[type="radio"] + *::before {
        display: flexbox;
        vertical-align: bottom;
        width: 1rem;
        height: 1rem;
        margin-right: 0.3rem;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.1rem;
        border-color: #facc15;
      }

    input[type="radio"]:checked + * {
        color: #facc15;
      }

    input[type="radio"]:checked + *::before {
        background: radial-gradient(#facc15 0%, #facc15 40%, transparent 50%, transparent);
        border-color: #facc15;
      }

    html {
        max-width: 50em;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
    }

    .img{
        padding: 2em 1em;
        display:grid;
        justify-content: center;
    }

    .table{
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        width: 25%;
        text-align: center;
        border-collapse: collapse;
        border: 1px solid #333;
    }
}