@import "variable.scss";

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    html {
        box-sizing: border-box;
        max-width: 50em;
        font-family: $family-font;
        justify-content: center;
    }


    .img{
        padding: 2em 1em;
        display: grid;
        justify-content: center;
    }

    .table{
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        width: 25%;
        text-align: center;
        border: 1px solid $color-fontSize;
    }
}