@import "variable.scss";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    color: $color-fontSize;
    background-color: $color-background;
    margin: 0 auto;
    max-width: 50em;
    font-family: $family-font;
    line-height: 1.5;
    padding: 4em 1em;
}

h1, h2, h3, strong {
    color: $color-fontSize;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

address a {
    color: #e81c4f;
    text-decoration: none;
}

.page{
    max-width: 800px;   
    margin: 30px 20px;
    padding: 20px 20px;
    font-family: $family-font;
    text-align: center;
}

.nav{
    font-size: 20px;
}

ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 25%;
    text-align: center;
    border: 1px solid $color-fontSize;
}

.img{
    display: grid;
    justify-content: center;   
}

.footer{
    color: gray;
    padding-top: 4em;
}