@media screen and (min-width:450px) {

    html{
        max-width: 450px;
        margin: 0 auto;
    }

    
}

@media screen and (min-width:992px) {


    .container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 50px auto auto auto auto;
        gap:10px;
        margin: 20px auto;
    
    }

    nav {
        grid-column: 1/4;   
     }
     li{
        margin:70px
     }
    
.profile{
    display: flex;
    grid-column: 1/4;
}

.cv{
    grid-column: 1/2;
}

.mark {
    grid-row: 4/5;
}

.contact{
    grid-column: 3/4;
    grid-row: 4/5;
}



}