/* ---- Styles - HEADER ----*/
  
.header {
    padding: 1rem;
    border-bottom: 1px solid $nobel-color;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    display: none;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  
  .logo a{
    font-size: 1.2rem;
    font-weight: bold;
    color: $ripe-plum-color;
    text-decoration: none;
  }
  
  .logo span {
    font-size: 1.5rem;
    color: $ripe-plum-color;
  }
  
  .dark-ligth-mode span {
    font-size: 1.2rem;
  }
  
  
  /* ---- Styles - PRESENTATION ----*/
  
  main {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .presentation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .presentation p{
    margin: 0;
    color: $mamba-color;
  }
  
  .presentation-name h1 {
    margin: 0;
    color: $ripe-plum-color;
  }
  
  .presentation-name h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    color: $affair-color;
  }
  
  .presentation-img img {
    width: 250px;
    border-radius: 50%;
    border: 2px solid $ripe-plum-color;
  }
  
  
  /* ---- Styles - ABOUT----*/
  
  .about {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: $snuff-color;
    border-radius: 0.5rem;
  }
  
  .about h2,h3 {
    color: $ripe-plum-color;
  }
  
  .about-social {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .p-contact {
    color: $ripe-plum-color;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .social-media {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .social-media a {
    padding: 0.5rem;
    color: $ripe-plum-color;
    border: 1px solid $affair-color;
    border-radius: 0.5rem;
    background-color: $lavender-gray-color;
    cursor: pointer;
  }
  
  .social-media a:hover {
    background-color: $snuff-color;
  }
  
  .social-media-name p {
        font-size: 0.9rem;
  }
  
  
  /* ---- Styles - PROJECTS----*/
  
  .projects {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
  }
  
  .projects h2 {
    color: $ripe-plum-color;
  }
  
  .projects-names-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .projects-names {
    max-width: 250px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid $ripe-plum-color;
    border-radius: 0.5rem;
    background-color: $snuff-color;
  }
  
  .projects-names img {
    border-radius: 0.5rem;
  }
  
  .tools {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .html {
    padding: 0.3rem;
    color: #111111;
    background-color: $hit-pink-color;
    border-radius: 0.5rem;
  }
  
  .css {
    padding: 0.3rem;
    color: #111111;
    background-color: $melrose-color;
    border-radius: 0.5rem;
  }
  
  .js {
    padding: 0.3rem;
    color: #111111;
    background-color: $texas-color;
    border-radius: 0.5rem;
  }
  
  .demo-repo {
    display: flex;
    gap: 0.5rem;
  }
  
  .demo-repo a {
    color: #2F004F;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .demo-repo a:hover {
    transform: scale(1.1);
  }
  
  /* ---- Styles - CONTACT----*/
  
  .contact {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .contact h2 {
    color: $ripe-plum-color;
  }
  
  .form {
    width: 320px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid $ripe-plum-color;
    border-radius: 0.5rem;
    background-color: $snuff-color;
  }
  
  
  label, input {
    width: 100%;
    vertical-align: middle;
  }
  
  input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
  }
  
  textarea {
    padding: 1rem;
    display: block;
    width: 100%;
    resize: none;
    border-radius: 0.5rem;
  }
  
  button {
    padding: 16px 60px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: 1px solid $ripe-plum-color;
    background-color: $purple-color;
    color: $gallery-color;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: $ripe-plum-color;
  }
  
  
  /* ---- Styles - FOOTER----*/
  
  .footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid $ripe-plum-color;
  }
  
  .footer strong {
    color: $ripe-plum-color;
  }

  .footer time {
    font-size: 13px;
    font-weight: bold;
    color: #2F004F;
  }
  
  
  /* ---- Styles - MOBILE-NAV ----*/
  
  .mobile-nav {
    padding: 0.5rem;
    position: sticky;
    bottom: 0;
    z-index: 99;
    border-top: 1px solid $ripe-plum-color;
    background-color: $gallery-color;
  }
  
  .mobile-nav-ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .mobile-nav-ul li {
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: $ripe-plum-color;
  }
  
  
  .mobile-nav-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }
  
  .mobile-nav-li a {
    color: $ripe-plum-color;
  }
  
  .mobile-nav-li a:hover {
    color: $affair-color;
  }
  
  .mobile-nav-li span {
    font-size: 1.2rem;
    font-weight: bold;
  }