@use "colors.scss";

@media screen and (min-width:980px) {
    nav{
        background: royalblue;
        border-radius: 10px;
        padding: 8px;
    }
    .btn{
        height: 30px;
        background: cornFlowerBlue;
        border-radius: 10px;
        font-size: 16px;
    }
}
