@use "./styles/variables.scss" as *;

@media screen and (max-width: 500px) {
    .featured {
        grid-column: span 1;
    }


}

@media screen and (min-width: 900px) {
    .gallery {
        max-width: 70%;
        margin: 0 auto;
    }
}
