// ESTILOS MOBILE FIRST

// VARIABLES 
//----------------------------------------------------
$texto-body: lightcyan ;
$h2-color: rgb(42, 42, 92) ;
$a-visit-hover: darkblue ;
$a-visit: rgb(234, 234, 255) ;
$background-nav: rgba(255, 255, 255, 0.5) ;
$box-shadow: rgba(255, 255, 255, 0.3) ;
$feature-background: rgba(255, 161, 123, 0.8);
$texto-tope-color: rgb(0, 0, 0);
//----------------------------------------------------
// VARIABLES

body {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $texto-body;
    margin: 40px;
    /* background: linear-gradient(whitesmoke, lightsteelblue); */
    background-image: url("/images/nfig79.jpg") ;
    background-size: cover;

}
h1 {
    font-size: 32px;
    color:$h2-color;
}

h2 {
    font-size: 16px;
    color:$h2-color;
}

h3 {
    font-size: 12px;
}

p {
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 40px;
    background-color: $background-nav;
    margin-bottom: 2%;
    border-radius: 15px;

}

.inicio {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

a:visited {
    color: $a-visit;
    outline: none;
    text-decoration: none;
    text-align: center;

    &:hover {
        color: $a-visit-hover;
        outline: none;
        text-decoration: none;
        text-align: center;
    }
}


.iconos {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: flex-end;
    gap: 7%;
    margin-right: 10px;
}

ul {
    list-style: none;
}



.tope {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    gap: 7%;
    margin: 2% 15%;
    padding: 2% 7% ; 
    color: $texto-tope-color;
    background: linear-gradient(rgb(255, 255, 255), rgba(161, 173, 196, 0.5));
    box-shadow: 0px 0px 0px 4px $box-shadow;
}

.photo {
    /* border-radius: 90%;  */
    height: 300px;
    grid-area: photo;
    padding-bottom: 10% 10%;
}

.imgNexus {
    align-self: center; 
}

section {
    display: flex;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 15%;

}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 1% 3%;
    background: $feature-background;
    margin: 2% 0%;
    border-radius: 20px 0px;
    box-shadow: 0px 0px 0px 4px $box-shadow;

}

.extras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 15%;

}

.extra {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 1% 3%;
    background: rgba(138, 228, 255, 0.6);
    margin: 2% 0%;
    border-radius: 0 20px;
    box-shadow: 0px 0px 0px 4px $box-shadow;

}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    line-height: 0.1em;
    height: auto;
}

.correo {
    display: grid;
    align-items: center;
}

.detDesarrollo {
    display: none;

}

a:hover+.detDesarrollo {
    display: block;
    justify-content: flex-start;
    background-color: lightskyblue;
    min-height: max-content;
    animation: aparecer 0.5s ease-in-out;
}

.odd {
    background-color: $feature-background;
}

.even {
    background-color: rgb(97, 122, 131);
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateX(40%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

