// Variables SASS

// base.scss
$cuttySark: #566B78;
$white: #FFFFFF;
$ceriseRed: #DD2476;
$outrageousOrange: #FF512F;
$mineShaft: #333333;
$espresso: #611D1D;
$wildSand: #F5F5F5;
$amaranth:#E41A4A;
$scorpion: #5A5656;
$sunsetOrange: #FD5949;
$tundora: #444444;
$alto: #DCDCDC;
$wellRead: #B22E4A;
$brickRed: #B62645;
$cardinal: #BD1C3C;
$ebb: #F4F1F1;
$softPeach: #FBF8F8;
$nobel: #B5B0B0;
$towerGray: #B0BFC7;

//desktop.scss
$blueChill: #0E76A8;
$cerise: #D6249F;
$chambray: #3B5998;
$pictonBlue: #55ACEE;