@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


/* A natural box layot model to all */
html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

/* General styles */

body {
  background-color: #ededed;
  font-family: "Roboto", sans-serif;
  line-height: 2em;
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: $primary-color;
  color: $tertiary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.header h1 {
  margin-bottom: 0;
  text-align: center;
}

.header h3 {
  margin-top: 0;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header li {
  margin-bottom: 10px;
}

.header a {
  color: $tertiary-color;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.main {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 40px;
}

.section {
  margin: 50px 0;
}

.connect-list {
  background-color: $secondary-color;
  display: flex;
  gap: 2em;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 50px;
}

.connect-list a {
  margin-right: 10px;
}

.connect-list > li {
  list-style: none;
}

.languages-list {
  background-color: $secondary-color;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: left;
  align-items: center;
  padding: 50px;
}

.languages-list img {
  margin-right: 20px;
  margin-bottom: 20px;
}

.languages-list img:last-child {
  margin-right: 0;
}

.languages-list > li {
  list-style: none;
}

.languages-list a {
  color: $text-color;
  text-decoration: none;
}

.languages-list a:hover {
  text-decoration: underline;
}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.profile__list__item {
  list-style: none;
}

.profile__link {
  font-weight: bold;
  text-decoration: none;
  color: $accent-color-text;
}

.profile__link:visited {
  color: $accent-color-text;
}

.header-paragraph {
  max-width: 70%;
  text-align: center;
  padding-top: 1em;
}

/* Styles for footer */

.footer {
  background-color: $primary-color;
  color: $tertiary-color;
  text-align: center;
  padding: 25px 0;
}

/* Styles for contact link */
.header-link__container {
  align-self: flex-end;
  border: $border-color-button solid 2px;
  border-radius: 60px;
  color: $border-color-button;
  padding: 0 10px;
  background-color: $accent-color;
  margin-right: 1.5em;
  text-decoration: none;
  font-weight: 700;
}

.header-link__container:hover {
  background-color: $accent-color-hover;
  border-color: $accent-color-hover;
}

.header-link__container:active {
  background-color: $accent-color-active;
  border-color: $accent-color-active;
  color: $gray-color1;
}

.header-link__container .header-link {
  text-shadow: -1px -1px $shadow-color;
  text-decoration: none;
}

.header-link__container .header-link:visited {
  color: $border-color-button;
  text-decoration: none;
}

.header-link__container .header-link:hover {
  text-decoration: none;
}

.header-link__container .header-link:active {
  color: $gray-color1;
}

/* Styles for Contact */
.form-group {
  /* border: 1px solid tomato; */
  margin: 20px 0;
}

label, input {
  vertical-align: middle;
}


label, input:not([type="radio"], [type="checkbox"]) {
  width: 100%;
}


textarea {
  display: block;
  width: 100%;
  resize: vertical;
}

label, legend {
  font-weight: 700;
  font-size: 14px;
  color: $gray-color2;
}

input[type="text"], input[type="email"],textarea {
  background-color: $tertiary-color;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px 10px;
  color: $gray-color3;
}

.help {
  font-size: 12px;
  margin-top: 10px;
  color: $gray-color1;
}

.send-button {
  font-size: 1em;
  font-weight: 700;
  border: $border-color-button solid 2px;
  border-radius: 60px;
  color: $border-color-button;
  text-shadow: -1px -1px #3333336e;
  padding: 10px 40px;
  background-color: $accent-color;
  box-shadow: 1px 1px 3px $shadow-color-button;
}

.send-button:hover {
  background-color: $accent-color-hover;
  border-color: $accent-color-hover;
  cursor: pointer;
}

.send-button:active {
  background-color: $accent-color-active;
  border-color: $accent-color-active;
  color: $gray-color1;
}

.button-container {
  margin: 50px 0;
  display: flex;
  justify-content: flex-end;
}

.contact-form {
  accent-color: $contact-accent-color;
}

input:focus-visible, textarea:focus-visible {
  outline: 2px solid $input-visible;
}