$primary-color: #24292e;
$secondary-color: hsl(0, 0%, 93%);
$tertiary-color: #fff;
$accent-color: hsl(5, 70%, 66%);
$accent-color-hover: hsl(5, 70%, 76%);
$accent-color-active: hsla(5, 70%, 76%, 0.5);
$accent-color-text: #e5766d;
$background-color: #ededed;
$text-color: #212121;
$gray-color1: #8b8b8bd5;
$gray-color2: #444;
$gray-color3: #333;
$border-color-button: #f0f0f0;
$shadow-color: #3333336e;
$shadow-color-button: #0000008c;
$contact-accent-color: hsl(5, 70%, 90%);
$input-visible: hsl(5, 70%, 86%);