// Colorimetry variables

:root {
   --rgb-gainsboro:  #d4d7dc;
   --rgb-royalBlue:  #567cbd;
   --rgb-darkGrey:   #444445;
   --rgb-pinkCoral:  #e6a0a4;
   --rgb-gradient: linear-gradient(#567cbd, #d4d7dc);
   --rgb-darkHover: #171718;
}

