//SASS Variables
$blackPeart-50: #E4EBEE;
$blackPeart-100: #C9D6DE;
$blackPeart-200: #ADC2CD;
$blackPeart-300: #92ADBC;
$blackPeart-400:#7799AC;
$blackPeart-700:#3C5562;
$blackPeart-800:#2C3D47;
$blackPeart-900:#1B262C;

$aquarius-50:#E2F5F7;
$aquarius-100:#C5EAF0;
$aquarius-200: #A8E0E8;
$aquarius-300: #8BD6E0;
$aquarius-600:#35B6C8;
$aquarius-700: #288996;
$aquarius-900:#0D2E32;

$marroncanBlue-100:#B5DBF5;



$neutral-white:#FFFFFF;

$container-max-width: 1180px;
$container-padding: 0 20px;

$breakpoint-Large: 992px;
