//En esta hoja se ubican los mixins y funciones 

@use 'settings';

@mixin container-width{
    width: 100%;
    max-width: settings.$container-max-width;
    margin: 0 auto;
}

@mixin icons-span{
    display: block;
    width: 46px;
    height: 48px;
    border-radius: 2px;
    padding: 12px;
   


    background-color: settings.$aquarius-600;
    background-position: center;
    background-repeat: no-repeat;
 
    
}

@mixin desktop{
    @media screen and (min-width: settings.$breakpoint-Large){
        @content;
    }
}