$codGray: #121212;
$concrete: #f2f2f2;
$codGray2: #080808;
$white: #ffffff;
$cerulean: #00bfff;
$codGray3: #1c1c1c;
$athensGray: #f2f2f7;
$mineShaft: #333333;
$codGray4: #0d0d0d;
$lochmara: #0083e0;

$bodyText: 'Montserrat', sans-serif;
$code: Consolas, monospace;
