@media screen and (min-width: 425px) {

    //--- Sections ---//
    .header h1 {
      font-size: 46px;
    }
  
    //--- Images ---//
    .menu,
    .header,
    .articles {
      padding: 0 30px;
    }
  
  }
  
  @media screen and (min-width: 675px) {
  
    //--- Sections ---//
    .articles {
      grid-template-columns: repeat(2, minmax(250px, auto));
    }
  
  }
  
  @media screen and (min-width: 930px) {
  
    //--- Sections ---//
    .articles {
      grid-template-columns: repeat(3, minmax(250px, auto));
    }
  
  }
  
  @media screen and (min-width: 1100px) {
  
    //--- Sections ---//
    .header article {
      grid-template-columns: auto;
      grid-gap: 50px;
    }
  
    .articles {
      grid-gap: 104px 54px;
    }
  
    .articles:first-of-type {
      margin-bottom: 104px;
    }
  
  }
  
  @media screen and (min-width: 1170px) {
  
    //--- Sections ---//
    .articles:first-of-type {
      margin-bottom: 0px;
    }
  
  }