:root {
  --orange:#FFA500;
  --DarkOrange:#FF8C00;
  --RawUmber:#885400;
  --Gray:#808080;
  --NightRider:#2b2b2b;
  --BlueLagoon:#005e74;
  --Zambei:#5c5c5c;
  --WhiteSmoke:#EFEFEF;
  --Whisper:#e5e5e5;
  --Silver:#bdbdbd;
    
    
}
