$MineShaft: #222222;
$ToryBlue: #134da5;
$AlizarinCrimson: #de2c3b;
$black: #000000;
$CodGray: #0f0f0f;
$white: #fff;
$SilverChalice: #aaa;
$RoyalBlue: #2575ed;
$SeaGreen: #2c9f42;
$Supernova: #ffc800;
$gray: #8c8c8c;
$RedBerry: #990000;
$Tundora: #4e4e4e;
$font-family_1: sans-serif;
$font-family_2: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
$font-family_3: "Courier New", monospace;
$font-family_4: "Playfair Display SC", serif;
$font-family_5: "Lato", Arial, sans-serif;