* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.container-header {
  background-color: #dbf7ea;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}
.container-header .header-items {
  margin: 0 auto;
}
.container-header .navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.container-header .navbar-menu .logo {
  font-size: 2.4rem;
  text-decoration: none;
}
.container-header .navbar-menu .opciones {
  display: none;
}
.container-header .navbar-menu .button-mobile {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar-section {
  height: 25rem;
  max-width: 600px;
}
.navbar-section .container-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navbar-section .container-info h1 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.navbar-section .container-info p {
  font-size: 1.6rem;
  color: #333;
}

.center-items, .navbar-section {
  display: grid;
  place-items: center;
}

.content {
  padding: 1rem 2rem;
  background-color: #F3F4F6;
}

.container-main {
  padding-top: 10rem;
  margin: 0 auto;
}

.container-main .navbar-post {
  border-bottom: 1px solid #626262;
  margin-bottom: 3rem;
}

.container-main .navbar-post ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

.container-main .navbar-post a {
  color: #333;
  font-weight: 600;
}

/* Conteiner post */
.container-main h2 {
  padding: 2rem 0 4rem 0;
  text-align: center;
}

.container-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.post1 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 5px;
  box-shadow: 11px 22px 21px -5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.post-principal {
  padding: 1rem 1.2rem;
}

.post-image {
  margin-bottom: 1rem;
}

.post-image img {
  border-radius: 5px 5px 0 0;
}

.post-readtime {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0db769;
  border-radius: 3px;
}

.post-info h3 {
  padding: 1.5rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}

.post-info p {
  line-height: 1.5rem;
  color: #626262;
}

.post-button {
  margin: 1.5rem 0;
  text-align: center;
}

.post-button button {
  padding: 0.5rem 0;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid;
  background-color: #0db769;
  width: 90%;
}

@media screen and (max-width: 700px) {
  .post1 {
    max-width: 90%;
  }
}
.suscribete {
  display: flex;
  justify-content: center;
  background-color: #dbf7ea;
}

.container-subscribe {
  width: 80%;
  top: 4rem;
  height: 30rem;
  display: grid;
  place-items: center;
}

.container-subscribe-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container-subscribe-info h2 {
  font-size: 2.4rem;
}

.container-subscribe-info p {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.container-subscribe-info span {
  font-size: 1rem;
}

.container-subscribe-info .form {
  display: flex;
  justify-content: center;
}

footer {
  background-color: gray;
  padding: 1rem 2rem;
}

.container-footer {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.contact-me,
.links,
.services,
.social-media {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
}

.contact-me h2,
.links h2,
.services h2,
.social-media h2 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.contact-me li,
.links li,
.services li {
  padding: 0.5rem 0;
  color: darkgrey;
}

.links a,
.services a {
  color: darkgrey;
}

.icons {
  display: flex;
  gap: 1.6rem;
}

.icono {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icono:hover {
  outline-offset: 4px;
}

.icono span {
  margin: auto;
  font-size: 2.2rem;
  color: white;
}

.insta:hover {
  background-color: #f77737;
  outline-color: #f77737;
}

.twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.In:hover {
  background-color: #004182;
  outline-color: #004182;
}

.github:hover {
  background-color: #6cc644;
  outline-color: #6cc644;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
.icono:hover span {
  animation: shake 0.25s;
}

.politics {
  grid-column: 1/5;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.politics p {
  color: #fff;
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
