$CuttySark: #566b78;
$Gallery: #eee;
$MineShaft: #333;
$Alto: #ddd;
$PurpleHeart: #9932cc;
$AliceBlue: #f0f8ff;
$White: #FFFFFF;
$Alabaster: #fbfbfb;
$Emperor: #555;
$DaisyBush: #581c87;
$Affair: #7b1fd1;
$Windsor:#3b0764;
$AthensGray: #f5f7f9;
$ElectricViolet: #9333ea;
$OuterSpace: #263d36;
$Black: #000000;