$Cutty_Sark : #566b78;
$Elm : #1F8484;
$Mine_Shaft :#333333;
$White:#FFFFFF;
$WhiteRgb :rgb(255, 255, 255, 0.5);
$Amaranth:#e81c4f;
$Gray_Nurse: #EAECE9;
$Christine: #E26812;
$Valencia: #DD4640;
$BlackRgb:rgba(0, 0, 0, 1);
$Corn: #eab308;

//desktop 
$Outer_Space: #263D37;
$Athens_Gray: #F3F4F6;