:root {

    --color-stone-900: #1c1917;

    --color-neutral-800: #262626;
    --color-neutral-600: #525252;

    --color-red-600: #dc2626;

    --color-green-100:#dcfce7;
    
    --color-emerald-950:#022c22;
    --color-emerald-900:#064e3b;
    --color-emerald-800:#065f46; 


}

$desktop-media-query:992px;